@font-face {
  font-family: 'Liffey-h';
  src: url("/fonts/Liffey-Heavy.otf") format("opentype");
}
@font-face {
  font-family: 'Liffey-r';
  src: url("/fonts/Liffey-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker';
  src: url("/fonts/clean/CleanMarker-Black.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker BI';
  src: url("/fonts/clean/CleanMarker-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker MC';
  src: url("/fonts/clean/CleanMarker-Medium-Condensed.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker M';
  src: url("/fonts/clean/CleanMarker-Medium.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker L';
  src: url("/fonts/clean/CleanMarker-Light-Condensed.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker LI';
  src: url("/fonts/clean/CleanMarker-Light-Condensed-Italic.otf") format("opentype");
}
@font-face {
  font-family: 'Edlinger';
  src: url("/fonts/Edlinger-Regular.otf") format("opentype");
}
.clean {
  font-family: 'Clean Marker'
}
.edlinger {
    font-family: 'Edlinger';
}
.liffey {
  font-family: 'Liffey-h';
}
.noliga{
  font-variant-ligatures: none;
}
.liga{
  font-variant-ligatures: discretionary-ligatures
}
.noneinter{
  line-height: 0;
  margin-top: 2em;
  margin-bottom: 1.5em;
}
.noneinter h2, .noneinter h3{
  margin-top: 0;
  margin-bottom: 0;
}

body {
    font-family: Source Code Pro;
    font-weight: 400;
    margin: 0;
    min-width: 500px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-left: 15px;
  margin-right: 15px;
}
p {
    font-size: 1em;
}
h1 {
    font-size: 4em;
    line-height: 1em;
}
h3 {
  font-size: 1.2em;
  font-weight: 900;
}
.edlinger h3 {
  font-size: 3em;
  line-height: 1em;
  margin-top: .3em;
  margin-bottom: .3em;
  line-break: anywhere;
  text-align: center
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: .5;
}
.link{
  text-decoration: underline
}

header div {
  display: inline-block;
}
header p {
  width: max-content;
}
header .right {
  float: right;
}
.right {
  display: inline-block;
}

.font_line {
  border-bottom: 2px solid black;
}
.font_line h1 {
  margin-top: .15em;
  margin-bottom:.1em;
}

.tooltip:hover span {
  display: none;
}
.tooltip:hover:before {
  content: "Learn more";
}

.article {
  max-width: 45em;
  margin-left: auto;
  margin-right: 5em;
  padding-left: 1em;
}
.img {
  width: fit-content;
  margin: auto;
  height: 15em;
}
img {
  height: inherit;
}
.poster {
  border: 2px solid black;
  box-sizing: border-box;
  height: inherit;
  display: inline-block;
}
.poster_none {
  box-sizing: border-box;
  height: inherit;
  display: inline-block;
}
.poster_none h3 {
  font-size: 2em;
}
.poster h2{
  margin: .3em .4em;
}
.poster .bottom_line {
  text-align-last: justify;
}