@font-face {
  font-family: 'Liffey H';
  src: url("/fonts/Liffey-Heavy.otf") format("opentype");
}
@font-face {
  font-family: 'Liffey';
  src: url("/fonts/Liffey-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker';
  src: url("/fonts/clean/CleanMarker-Black.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker BI';
  src: url("/fonts/clean/CleanMarker-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker MC';
  src: url("/fonts/clean/CleanMarker-Medium-Condensed.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker M';
  src: url("/fonts/clean/CleanMarker-Medium.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker L';
  src: url("/fonts/clean/CleanMarker-Light-Condensed.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker LI';
  src: url("/fonts/clean/CleanMarker-Light-Condensed-Italic.otf") format("opentype");
}
@font-face {
  font-family: 'Edlinger';
  src: url("/fonts/Edlinger-Regular.otf") format("opentype");
}

html {
  font-size: 1rem;
}

.clean {
  font-family: 'Clean Marker'
}
.edlinger {
    font-family: 'Edlinger';
}
.liffey {
  font-family: 'Liffey H';
}

* {
  font-family: 'Infini', sans-serif;
  text-rendering: optimizeLegibility;
 font-feature-settings: "liga" 1, "dlig" 1;
}

.article {
  margin: 1em 4rem;
  line-height: 1.5em;
}

.img {
  padding-left: max;
  display: flex;
  justify-content: center;
}

.big img {
  height: 15rem;
}