@font-face {
  font-family: 'quadrata';
  src: url("/fonts/quadrata-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'cadres';
  src: url("/fonts/cadres-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'printemps';
  src: url("/fonts/Printemps-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'speed';
  src: url("/fonts/Speed-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'stroke';
  src: url("/fonts/strokestencil-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Cartographie';
  src: url("/fonts/Cartographie-Semi-Onciale.otf") format("opentype");
}
@font-face {
  font-family: 'Liffey-h';
  src: url("/fonts/Liffey-Heavy.otf") format("opentype");
}
@font-face {
  font-family: 'Liffey-r';
  src: url("/fonts/Liffey-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Gothic';
  src: url("/fonts/rationalgothic-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Gothic-c';
  src: url("/fonts/rationalgothic-Condensed.otf") format("opentype");
}
@font-face {
  font-family: 'Capd';
  src: url("/fonts/Tolosa-Display.otf") format("opentype");
}
@font-face {
  font-family: 'Capt';
  src: url("/fonts/Tolosa-Text.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker';
  src: url("/fonts/clean/CleanMarker-Black.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker BI';
  src: url("/fonts/clean/CleanMarker-BlackItalic.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker MC';
  src: url("/fonts/clean/CleanMarker-Medium-Condensed.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker M';
  src: url("/fonts/clean/CleanMarker-Medium.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker L';
  src: url("/fonts/clean/CleanMarker-Light-Condensed.otf") format("opentype");
}
@font-face {
  font-family: 'Clean Marker LI';
  src: url("/fonts/clean/CleanMarker-Light-Condensed-Italic.otf") format("opentype");
}
@font-face {
  font-family: 'Edlinger';
  src: url("/fonts/Edlinger-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'Poissons';
  src: url("/fonts/poissons-Micro.otf") format("opentype");
}
@font-face {
  font-family: 'PoissonsD';
  src: url("/fonts/poissons-Light.otf") format("opentype");
}
@font-face {
  font-family: 'Relief';
  src: url("/fonts/ReliefSingleLineOutline-Regular.woff2");
}
@font-face {
  font-family: 'brennus';
  src: url("/fonts/Brennus-Regular.otf") format("opentype");
}
@font-face {
  font-family: 'turfu';
  src: url("/fonts/turfu.otf") format("opentype");
}
#brennus{
    font-family: 'brennus';
    letter-spacing: normal;
}
#turfu{
    font-family: 'turfu';
    letter-spacing: normal;
}
#turfu .big{
    letter-spacing: normal;
    font-size: 4em;
}
#turfu .vbig{
    font-feature-settings: "ss10";
}
#brennus .vbig{
    margin: .1em 0;
}
#brennus .big{
    margin: .1em 0;
    letter-spacing: normal;
}
#relief {
    font-family: 'Relief';
}
#relief .vbig {
    font-size: 4.3em;
    margin: 0 0 .2em 0;
}
#relief .big {
    margin-bottom: 0;
}
#cadre {
    font-family: 'cadres'
}
#cadre .comp{
    font-size: 7em;
    margin: -.2em 0 0 0;
}
#cadre .big{
    font-size: 3em;
    margin: -.2em 0;
}
#cadre .vbig{
    font-size: 10em;
    margin: -.1em 0 0 0;
}
#speed {
    font-family: 'speed';
}
#print {
    font-family: 'printemps';
}
#print .vbig {
    line-height: .8em;
    margin: 0 0 .1em 0;
}
#print .big {
    margin-bottom: 0;
}
#speed h2{
    font-size: 4.4em;
    margin: 0;
}
#speed .vbig{
    padding-right: .01em;
    margin: 0 0 .2em 0;
    line-height: .9em;
}
#speed .big{
    margin: .2em 0 0 0;
}
#quad {
    font-family: 'Quadrata', sans-serif;
    font-size: 1em;
}

#test {
    font-family: 'Cartographie';
}

#test .vbig {
    font-size: 9.6em;
    line-height: .7em;
    margin: 0 0 .2em 0;
}

#test .vbig i {
    font-size: .7em;
}
#strokes {
    font-family: 'stroke', 'Source Code Pro';
    color: black;
}

#strokes i,
#test i {
    font-family: 'source code pro';
    font-style: normal;
    color: rgb(200,200,200);
}

#strokes .big {
    font-size: 5em;
    margin: .2em 0;
}

#strokes .vbig {
    font-size: 13em;
    margin: 0;
}

#quad .big {
    letter-spacing: initial;
    font-size: 4em;
    margin: .3em 0 0 0;
}

#quad .vbig {
    font-size: 8em;
}

#liffey {
    font-family: 'Liffey-h', sans-serif;
    font-feature-settings: "liga" 0;
}

#cap {
    font-family: 'capd', serif;
}

#cap .big {
    font-size: 2.5em;
    letter-spacing: normal;
}

#cap .vbig {
    font-size: 5.8em;
}

#cap h5 {
    font-family: 'capt', serif;
    line-height: 1.2em;
    font-size: 1.1em;
}


h3,
h4,
h5,
h6 {
    font-size: 1em;
    margin: .5em 0 .5em 0;
}

h2 {
    font-size: 3.4em;
    margin: .1em 0 .1em 0;
}

h3 {
    font-size: 1.5em;
}

#liffey h4 {
    font-family: 'Liffey-h', sans-serif;
    font-size: 1.1em;
}

#liffey h2 {
    font-size: 2.9em;
    padding: .4em 0 .1em;
}

#liffey h5 {
    font-family: 'Liffey-r', sans-serif;
    font-size: 1em;
}

#liffey h6 {
    font-family: 'Liffey-r', sans-serif;
    font-size: .75em;
}

#liffey h3 .med {
    font-size: 3em;
}

.ss {
    font-feature-settings: "ss01";
    display: inline;
}

#clean {
    font-family: 'Clean Marker', sans-serif;
}

#edlinger {
    font-family: 'Edlinger', sans-serif;
}

#edlinger h5 {
    font-size: 2em;
}

#edlinger .big {
    font-size: 4.3em;
    margin: .15em 0 .4em 0;
}

#edlinger .vbig {
    font-size: 5.4em;
}

#poissons {
    font-family: 'Poissons', serif;
    font-size: x-large;
}

#poissons p {
    font-size: initial;
}

#poissons .grid_8 * {
    line-height: 1em;
    margin: 0 0 0 0;
}

#poissons .comp {
    font-size: 7em;
    line-height: 1em;
    margin-top: -.3em;
}

#poissons .comp strong {
    font-weight: normal;
    font-family: "PoissonsD";
}

#poissons .vbig {
    font-family: "PoissonsD";
    font-size: 9.9em;
    line-height: .4em;
    margin-bottom: .2em
}

#gothic {
    font-family: 'Gothic', serif;
}

#miss {
    font-family: 'Source Code Pro';
    color: rgb(200,200,200);
}

.font_line {
    border-bottom: 2px solid black;
}

.line {
    border-top: 1px solid black;
}

p {
    font-family: 'Source Code Pro';
    font-weight: 400;
}

p a {
    text-decoration: underline;
    color: black;
}

p a:hover {
    opacity: .5;
}
.text {
    padding: 1em 0 1em 0;
}

.text h1 {
    font-family: 'Source Serif 4', serif;
    font-weight: 200;
    font-size: 5em;
    margin: 0;
    font-style: italic;
    font-optical-sizing: none;
    line-height: 1em;
    padding: 1% 0 1% 0;
    
}
.text h2 {
    font-family: 'Source Serif 4', serif;
    font-weight: 400;
    font-size: 1.05em;
    margin: 0;
    font-style: initial;
    font-optical-sizing: none;
    line-height: auto;
}

.text a:hover {
    opacity: .5;
    cursor: pointer;
}

.collapsible {
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible:hover{
  opacity: .8;
}

div:focus { outline: none; }

.content {
  display: none;
  overflow: hidden;
}

strong {
    font-weight: 900;
}

* {
    font-weight: initial;
}

#clean i {
    font-family: 'Clean Marker BI', sans-serif;
    font-style: normal;
}

#clean p i {
    font-family: 'Source Code Pro', sans-serif;
    font-style: italic;
}

#clean mc {
    font-family: 'Clean Marker MC', sans-serif;
    font-style: normal;
}

#clean m {
    font-family: 'Clean Marker M', sans-serif;
    font-style: normal;
}

#clean l {
    font-family: 'Clean Marker L', sans-serif;
    font-style: normal;
}

#clean il {
    font-family: 'Clean Marker LI', sans-serif;
    font-style: normal;
}

.big {
    font-size: 2.5em;
    letter-spacing: -2%;
    line-height: 1em;
}

#clean h5 {
    font-family: 'Clean Marker M', sans-serif;
    letter-spacing: 1.5%;
    line-height: 1.15em;
}

#gothic strong {
    font-weight: normal;
    font-family: 'Gothic-c', serif;
    font-size: .9em
} 

#gothic h5 {
    line-height: 1em;
    font-size: 1.3em;
}

.vbig {
    font-size: 6em;
    letter-spacing: -2%;
    line-height: 1em;
    margin: 0 0 0 0;
}

nav div:hover {
    opacity: .5;
    cursor: pointer;
}

.over {
    position: absolute; 
    background-color: white;
    z-index: 1;
    padding: 0 0 0 1em;
    width: 300px;
    border: 1px solid black;
    border-top: 0 solid black;
}

.over p {
    padding-bottom: 0;
}

no {
    opacity: 0;
}

half {
    opacity: .5;
}

div:focus { outline: none; }